<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.net>
    <mailSettings>
      <smtp from="apexcycling@outlook.com">
        <network host="smtp-mail.outlook.com" port="587" enableSsl="true" userName="apexcycling@outlook.com" password="071093ep" defaultCredentials="true" />
      </smtp>
    </mailSettings>

  </system.net>
    <system.web>
      <authentication mode="Forms">
        <forms defaultUrl="Home.aspx" loginUrl="Login.aspx" name=".ASPXFORMSAUTH">
        </forms>
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="connectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\
         v11.0;Initial Catalog=Apex-Store-DB;
         Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
